/* General Styling */

.customGridDiv {
    display: flex;
    width: 100%;

    .left-section {
        width: 50%;
    }

    .right-section {
        width: 50%;

        .form-container {
            border: solid red 1px;
            border-radius: 4px;
            padding: 20px;

            .form-group {
                display: grid;

                .form-input {
                    width: 100px;
                    min-width: 250px;
                    height: auto;
                    min-height: 30px;
                }
            }
        }
    }
}