<div class="row customGridDiv">
    <div>
        <!-- Step 1: Enter Email for OTP -->
        <form *ngIf="step === 1" (ngSubmit)="sendOTP()" class="form-container space-y-5">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" pInputText [(ngModel)]="email" name="email" class="form-input"
                    placeholder="Enter your email" />
            </div>
            <p-button type="submit" label="Send OTP" icon="pi pi-envelope" class="p-mt-3"></p-button>
        </form>

        <!-- Step 2: Verify OTP -->
        <form *ngIf="step === 2" (ngSubmit)="verifyOTP()" class="form-container space-y-5">
            <div class="form-group">
                <label class="form-label">Enter OTP</label>
                <p-inputMask mask="999999" [(ngModel)]="otp" name="otp" class="form-input"
                    placeholder="Enter OTP sent to your email"></p-inputMask>
            </div>
            <p-button type="submit" label="Verify OTP" icon="pi pi-check" class="p-mt-3"></p-button>
        </form>

        <!-- Step 3: Reset Password -->
        <form *ngIf="step === 3" (ngSubmit)="resetPassword()" class="form-container space-y-5">
            <div class="form-group">
                <label class="form-label">New Password</label>
                <p-password [(ngModel)]="newPassword" name="newPassword" required [toggleMask]="true"
                    class="form-input"></p-password>
            </div>
            <p-button type="submit" label="Reset Password" icon="pi pi-lock" class="p-mt-3"></p-button>
        </form>
    </div>
</div>

<div *ngIf="isLoading" class="full-screen-loader">
    <app-wave-loader></app-wave-loader>
</div>