<footer [ngClass]="{'footer': !isFooterHidden, 'customFooter': isFooterHidden}">
  <div class="footer-content" [hidden]="isFooterHidden">
    <div class="contact">
      <p><strong>Address:</strong> 21 Revolution Street, <br> Paris, France</p>
      <p><strong>Phone:</strong> +1 555 123456</p>
    </div>
    <div class="about">
      <h3>About the company</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.</p>
    </div>
  </div>
  <button class="footer-toggle" (click)="toggleFooter()">&#9650;</button>
</footer>
