<footer [ngClass]="{'app-footer': true, 'collapsed-footer': isFooterHidden}">
  <div class="footer-content">
    <div class="contact">
      <p><strong>Address:</strong> {{companyDetail.address}}
      <p><strong>Phone:</strong> {{companyDetail.phone}}</p>
    </div>
    <div class="about">
      <h3>About the Company</h3>
      <p>{{companyDetail.about}}</p>
    </div>
  </div>
</footer>

<!-- Always visible button for toggling -->
<button class="footer-toggle" (click)="toggleFooter()">
  <i class="pi" [ngClass]="{'pi-chevron-up': !isFooterHidden, 'pi-chevron-down': isFooterHidden}"></i>
</button>
