<app-header [userName]="userName" [userId]="userId" [userRole]="userRole"></app-header>

<div class="customGridDiv">
    <!-- Left Section (Sidebar) - 25% width -->
    <div class="col-12 md:col-3 left-section leftNavePart">
        <p-panel header="Menu" class="custom-p-panel">
            <ul class="menu-list">
                <!-- <li [class.active]="isActiveComponent('dashboard')" (click)="setActiveComponent('dashboard')">
                    <i class="pi pi-home"></i> Dashboard
                </li> -->
                <li [class.active]="isActiveComponent('products')" (click)="setActiveComponent('products')">
                    <i class="pi pi-box"></i> Products
                </li>
                <li [class.active]="isActiveComponent('profile')" (click)="setActiveComponent('profile')">
                    <i class="pi pi-user"></i> Profile
                </li>
                <li [class.active]="isActiveComponent('cart')" (click)="setActiveComponent('cart')">
                    <i class="pi pi-wallet"></i> Cart
                    <span class="cart-count" *ngIf="cart.length > 0">({{ cart.length }})</span>
                </li>
                <li [class.active]="isActiveComponent('order')" (click)="setActiveComponent('order')">
                    <i class="pi pi-shopping-bag"></i> Orders
                    <span class="cart-count" *ngIf="totalActiveOrdersCount > 0">({{ totalActiveOrdersCount }})</span>
                </li>
                <li [class.active]="isActiveComponent('order_history')" (click)="setActiveComponent('order_history')">
                    <i class="pi pi-history"></i> Order Hoistory
                </li>
                <li [class.active]="isActiveComponent('invoices')" (click)="setActiveComponent('invoices')">
                    <i class="pi pi-file"></i> Invoices
                </li>
                <!-- <li [class.active]="isActiveComponent('settings')" (click)="setActiveComponent('settings')">
                    <i class="pi pi-cog"></i> Settings
                </li> -->
                <li (click)="logout()">
                    <i class="pi pi-sign-out"></i> Log-out
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="rightDashboardPard right-section">

        <div *ngIf="activeComponent === 'cancel'" class="insertProductDiv">
            <form #cancelForm="ngForm" (ngSubmit)="confirmCancel()" class="form-container">
                <div class="form-group">
                    <label class="form-label">Cancel Reason</label>
                    <input type="text" pInputText [(ngModel)]="cancel_reason" name="cancel_reason" required
                        class="form-input" placeholder="Enter cancel reason" />
                </div>

                <div class="form-button-div">
                    <button pButton type="submit" label="Submit" class="form-submit-button">
                    </button>

                    <button pButton type="button" label="Cancel" class="form-reset-button"
                        (click)="activeComponent = 'order'">
                    </button>
                </div>

            </form>
        </div>

        <app-profile *ngIf="activeComponent === 'profile'"></app-profile>

        <div class="product-search-container" *ngIf="activeComponent === 'products'">
            <input type="text" pInputText placeholder="Search Products..." [(ngModel)]="searchTerm" class="product-search-input" />
        </div>

        <div *ngIf="activeComponent === 'products'" class="customCardsDiv">
            <div class="col-12 md:col-6 lg:col-3 cardDiv" *ngFor="let product of filteredProducts()">
                <p-card [header]="product.product_name">
                    <div class="product-info">
                        <img *ngIf="!product.showDetails" [src]="'data:image/jpeg;base64,' + product.product_img"
                            alt="Product Image" class="product-image">
                        <div *ngIf="product.showDetails">
                            <p class="customData">Product Code: {{ product.product_code }}</p>
                            <p class="customData">Category ID: {{ product.category_id }}</p>
                            <p class="customData">Manufacturing Date: {{ product.manufacturing_date }}</p>
                            <p class="customData">Expiry Date: {{ product.expiry_date }}</p>
                            <p class="customData">Price: Rs: {{ product.price }}</p>
                        </div>
                    </div>
                    <div class="button-group">
                        <button pButton icon="pi pi-eye" class="p-button-info"
                            (click)="toggleProductDetails(product)"></button>
                        <button pButton icon="pi pi-cart-plus" class="p-button-warning"
                            (click)="addToCart(product)"></button>
                    </div>
                </p-card>
            </div>
        </div>

        <!-- <app-settings *ngIf="activeComponent === 'settings'"></app-settings> -->

        <div *ngIf="cart.length == 0 && activeComponent === 'cart'" class="cart-container emptyCart">
            No data <i class="pi pi-wallet"></i>
        </div>

        <div *ngIf="activeComponent === 'cart' && cart.length > 0" class="cart-container">
            <div class="cart-header">Your Cart</div>
            <div class="cart-items">
                <div class="cart-card" *ngFor="let item of cart">
                    <p-card>
                        <div class="cart-card-header">
                            <h3>{{ item.product.product_name }}</h3>
                            <button pButton icon="pi pi-trash" class="p-button-danger remove-btn"
                                (click)="removeFromCart(item)"></button>
                        </div>
                        <div class="cart-product-info">
                            <img [src]="'data:image/jpeg;base64,' + item.product.product_img" alt="Product Image"
                                class="cart-product-image">
                            <div class="cart-details">
                                <p><strong>Mfg:</strong> {{ item.product.manufacturing_date }}</p>
                                <p><strong>Expiry:</strong> {{ item.product.expiry_date }}</p>
                                <p><strong>Price:</strong> Rs: {{ item.product.price }}</p>
                                <p class="quantity-control">
                                    <strong>Quantity (Kg):</strong> <span>{{ item.quantity }}</span>
                                </p>
                                <p class="plusMinusButton">
                                    <button pButton icon="pi pi-minus" class="quantity-btn"
                                        (click)="updateQuantity(item, -1)"></button>
                                    <button pButton icon="pi pi-plus" class="quantity-btn"
                                        (click)="updateQuantity(item, 1)"></button>
                                </p>
                                <p><strong>Total:</strong> Rs: {{ item.sub_total }}</p>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
            <div class="cart-footer">
                Total Amount: Rs: {{ getTotalPrice() }}
                <!-- <button pButton label="Checkout" class="checkout-button" (click)="setActiveComponent('checkout')"></button> -->
                <button pButton label="Checkout" class="checkout-button" (click)="checkout()"></button>
            </div>
        </div>

        <div *ngIf="activeComponent === 'checkout'" class="checkout-container">
            <div class="checkout-card">
                <div class="checkout-header">
                    <h2>Checkout</h2>
                    <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger close-btn"
                        (click)="setActiveComponent('cart')"></button>
                </div>

                <div class="checkout-items">
                    <div class="checkout-item" *ngFor="let item of cart">
                        <div class="item-name">{{ item.product.product_name }}</div>
                        <div class="item-details">
                            <span>{{ item.quantity }} kg</span>
                            <span>Rs: {{ item.sub_total }}</span>
                        </div>
                    </div>
                </div>

                <div class="checkout-footer">
                    <h3>Total: <span>Rs: {{ getTotalPrice() }}</span></h3>
                    <button pButton label="Place Order" class="p-button-success place-order-btn"
                        (click)="placeOrder()"></button>
                </div>
            </div>
        </div>


        <div *ngIf="activeComponent === 'order'" class="orders-container">
            <h2>My Orders</h2>

            <div *ngIf="fetchUserOrders.length === 0" class="empty-orders">
                No orders found.
            </div>

            <div *ngFor="let order of fetchUserOrders" class="order-card">
                <p-card>
                    <div class="order-header">
                        <p>Status: <span [ngClass]="{
                            'status-delivered': order.status === 'Delivered',
                            'status-cancelled': order.status === 'Cancelled',
                            'status-pending': order.status === 'Pending',
                            'status-shipped': order.status === 'Shipped',
                            'status-processing': order.status === 'Processing',
                            'status-processed': order.status === 'Processed'
                        }" class="status-badge">
                                {{ order.status }}
                            </span></p>
                        <p>Order Date: {{ order.order_date }}</p>
                        <p>Total Price: Rs: {{ order.total_price }}</p>
                    </div>

                    <div class="order-items">
                        <h4>Items:</h4>
                        <table class="items-table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of order.order_items">
                                    <td>{{ item.product_name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>Rs: {{ item.price_at_order }}</td>
                                    <td>Rs: {{ item.sub_total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="order-actions">
                        <button pButton type="submit" label="Update Order" class="form-update-btn"
                            *ngIf="order.status === 'Pending'" (click)="updateOrder(order)">
                        </button>

                        <button class="cancel-btn" *ngIf="order.status === 'Pending' || order.status === 'Processing'"
                            (click)="cancelOrder(order.order_id)">
                            Cancel Order
                        </button>
                    </div>
                </p-card>
            </div>
        </div>

        <!-- order_history -->

        <div *ngIf="activeComponent === 'order_history'" class="orders-container">
            <h2>Order History</h2>

            <div *ngIf="fetchUserOrdersHistory.length === 0" class="empty-orders">
                No order history found.
            </div>

            <div *ngFor="let order of fetchUserOrdersHistory" class="order-card">
                <p-card>
                    <div class="order-header">
                        <p>Status: <span [ngClass]="{
                            'status-delivered': order.status === 'Delivered',
                        }" class="status-badge">
                                {{ order.status }}
                            </span></p>
                        <p>Order Date: {{ order.order_date }}</p>
                        <p>Total Price: Rs: {{ order.total_price }}</p>
                    </div>

                    <div class="order-items">
                        <h4>Items:</h4>
                        <table class="items-table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of order.order_items">
                                    <td>{{ item.product_name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>Rs: {{ item.price_at_order }}</td>
                                    <td>Rs: {{ item.sub_total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- No action buttons for order history -->
                </p-card>
            </div>
        </div>

        <div *ngIf="activeComponent === 'invoices'" class="invoices-container">
            <h2>Invoices</h2>

            <div *ngIf="userInvoices.length === 0" class="empty-invoices">
                No invoices found.
            </div>

            <table class="invoice-table" *ngIf="userInvoices.length > 0">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Shop Name</th>
                        <th>Status</th>
                        <th>Issued At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of userInvoices">
                        <td>{{ invoice.userData.username }}</td>
                        <td>{{ invoice.userData.shop_name }}</td>
                        <td>
                            <span [ngClass]="{
                                'status-processed': invoice.status === 'Paid',
                                'status-cancelled': invoice.status === 'Cancelled',
                                'status-pending': invoice.status === 'Pending'
                            }" class="status-badge">
                                {{ invoice.status }}
                            </span>
                        </td>
                        <td>{{ invoice.issued_at }}</td>
                        <td>
                            <button pButton label="Download" class="p-button-success"
                                (click)="downloadInvoicePDF(invoice)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="card flex justify-content-center">
    <p-toast></p-toast>
</div>

<app-footer></app-footer>