$color-white : white;
$color-black: black;
$color-gray : gray;
$color-red: red;
$color-green: green;
$button-color-text : #2d0366;
$button-color-submit : #0039a3;
$button-color-submit-hover : #91a8be;
$button-color-reset : gray;
$button-color-reset-hover : #9c9c9c;
