<app-header></app-header>

<div class="customGridDiv p-grid">
  <!-- Left Section -->
  <div class="p-col-12 p-md-6 left-section">
    <div class="image-container">
      <img src="assets/images/Welcome.avif" alt="Form Image" style="max-width: 100%;" />
    </div>
  </div>

  <!-- Right Section -->
  <div class="p-col-12 p-md-6 right-section">
   
      <div class="form-button-div">
        <a routerLink="/registration" class="p-button form-submit-button">
            Registration
        </a>

        <a routerLink="/login" class="p-button form-submit-button">
            Sign In
        </a>
      </div>
  </div>
</div>

<app-footer></app-footer>
